version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: dev-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: payments
      POSTGRES_USER: payments
      POSTGRES_PASSWORD: payments
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
