spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/payments
    username: payments
    password: payments
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_schema: payments
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml